<!DOCTYPE html>
<html lang="es">

<head>

    <title>Carrito De Compras</title>

    <link rel="stylesheet" href="/css/stylesCarrito.css">

    <link rel="stylesheet" href="/css/partials.css">
    <link rel="stylesheet" href="/css/colores.css">
    <%- include("../partials/head") %>
</head>

<body>

    <%- include("../partials/header.ejs")%>

    <main>

        <section>

            <% if (orders.length > 0) { %>
             
            
                <% for( let i = 0; i < orders.length; i++ ) { %>
                    <article>
                        <img src="/images/product-img/<%= products[i].image %>">
                        <p><%= products[i].title %></p>
                        <p style="text-decoration: line-through; color: #444;">$<%= products[i].price %></p>
                        <p style="color: #00ff00;"><%= products[i].off %>%</p>
                        <p style="color: #999;">$<%= orders[i].amount %></p>
                        <p><%= orders[i].status %></p>
                        <p><%= orders[i].createdAt.toLocaleDateString("es-ES") %></p>
                    </article>
                    <nav>
                        <i class="fa-solid fa-layer-group"></i>
                        <form action="/products/cart/<%= locals.logUser.id %>/delete" method="post"><input type="hidden" name="orderId" value="<%= orders[i].product_id %>"><button type="submit" style="background: none; border: 0px; color: #666"><i class="fa-solid fa-trash-can"></i></button></form>
                    </nav>
                <% } %>
            <% } else { %>
                <article class="error">
                    <p style="justify-self: center;">Parece que no tienes productos <a href="/">Comienza aqui</a></p>
                </article>
            <% } %>
            
        </section>

    </main>

    <%- include("../partials/footer") %>

</body>

</html>