<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= product.title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <script> src ="https://kit.fontawesome.com/f7ce8fc261.js" </script>

    <link rel="stylesheet" href="/css/partials.css">
    <link rel="stylesheet" href="/css/colores.css">
    <link rel="stylesheet" href="/css/detail.css">
    <%- include("../partials/head") %>

</head>



<body>

    <%- include("../partials/header.ejs")%>

    <main>

        <article>
            <section>
                <nav class="waos-nav">
                    <% if (locals.isLog && product.userId == locals.logUser.id ) { %>
                        <a href="/products/cart"><i class="fa-solid fa-cart-plus"></i></a>
                        <a href="/products/<%= product.id %>/edit"><i class="fa-solid fa-pencil"></i></a>
                        <a><form action="/products/<%= product.id %>" method="post"><button type="submit" style="background: none; border: 0px; color: #666"><i class="fa-solid fa-trash-can"></i></button></form></a>
                        <a><i class="fa-solid fa-share"></i></a>
                    <% } else { %>
                        <a href="/users/login"><i class="fa-solid fa-cart-plus"></i></a>
                        <a><form action="/products/<%= product.id %>/popularity" method="post"><button type="submit" style="background: none; border: 0px; font-size: 1.3rem;"><i class="fa-regular fa-heart"></i></button></form></a>
                        <a><i class="fa-solid fa-thumbtack"></i></a>
                        <a><i class="fa-solid fa-share"></i></a>
                    <% } %>
                </nav>
                <img src="/images/product-img/<%= product.image %>">
                
                <p><%= product.title %> - <%= product.tradeMark %></p>
                <p><%= product.categories.category %></p>
                <p><%= product.price %>$</p>
                <p><%= product.off %>% off</p>
            </section>
            <section>
                <p>Colores disponibles: </p>
                <% for( let i = 0; i < product.gammas.length; i++ ) { %>
                    <p><i class="fa-solid fa-circle fa-2xs" style="color: <%= product.gammas[i].code %>; text-shadow: 0 0 3px #ffffff"></i></p>
                <% } %>
            </section>
            <section>
                <p><%= product.description %></p>
            </section>
            <section>
                <p>Vendedor: <%= product.user.username %></p>
                <p>Lanzamiento: <%= product.created_at.toLocaleDateString("es-ES") %></p>
                <p>Disponible: <%= product.stock %></p>
                <% if (product.verificated != null) { %>
                    <p><%= product.verificated %> <i class="fa-regular fa-circle-check"></i></p>
                <% } else { %>
                    <p>No verificado <i class="fa-solid fa-circle-exclamation"></i></p>
                <% } %>
                <% if (product.popularity != null) { %>
                    <p>Clasificacion: <%= product.popularity %><i class="fa-solid fa-star"></i></p>
                <% } else { %>
                    <p>Clasificacion: 0 <i class="fa-solid fa-star"></i></p>
                <% } %>
                <p></p>
            </section>
        </article>

    </main>

    <%- include("../partials/footer") %>

</body>
</html>