<!DOCTYPE html>
<html lang="en">

<head>
    <title>ElectroHouse</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/colores.css">
    <link rel="stylesheet" href="/css/partials.css">
    <% let likedReversed = liked.slice().reverse() %>
    <% let recentReversed = recent.slice().reverse() %>

    <%- include("../partials/head") %>
</head>


<body>
    <%- include("../partials/header") %>

        <main>
            <section class="history-var waos" style="position: relative;">
                <div><i class="fa-solid fa-heart-circle-plus"></i></div>
                <% for( let i = 0; i < Math.min(9, likedReversed.length); i++ ) { %>
                <article><a href="/products/<%= likedReversed[i].id %>">
                    <img src="/images/product-img/<%= likedReversed[i].image %>" class="product_img">
                    <h5><%= likedReversed[i].title %></h5>
                    <h6><%= likedReversed[i].price %>$</h6>
                </a></article>
                <% } %>
                <p style="position: absolute; right: 10px; color: #666;">Productos populares</p>
            </section>

            <section class="history-var waos-min"style="position: relative;">
                <div><i class="fa-solid fa-stopwatch"></i></div>
                <% for( let i = 0; i < Math.min(9, recentReversed.length); i++ ) { %>
                <article><a href="/products/<%= recentReversed[i].id %>">
                    <img src="/images/product-img/<%= recentReversed[i].image %>" class="product_img">
                    <h5><%= recentReversed[i].title %></h5>
                    <h6><%= recentReversed[i].price %>$</h6>
                </a></article>
                <% } %>
                <p style="position: absolute; right: 10px; color: #666;">Productos recientes</p>
            </section>

            <section class="shop-var waos-min">
                <% for( let i = 0; i < products.length; i++ ) { %>
                    <a href="/products/<%= products[i].id %>">
                    <article>
                        <p><%= products[i].title %></p>
                        <img src="/images/product-img/<%= products[i].image %>" class="product_img">
                        <p><%= products[i].categories.category %></p>
                        <p><%= products[i].off %>% off</p>
                        <div>
                            <form action="/products/<%= products[i].id %>/like" method="post"><button type="submit" style="padding: 0; background: none; border: 0px; color: #666"><i class="fa-regular fa-heart"></i></button></form>
                            <i class="fa-solid fa-thumbtack"></i>
                            <i class="fa-solid fa-share"></i>
                        </div>
                        <p><%= products[i].price %>$</p>
                        
                    </article>
                    </a>
                <% } %>
            </section>

        </main>

        <%- include("../partials/footer") %>

</body>

</html>