<!DOCTYPE html>
<html lang="en">

<head>
    <title>ElectroHouse</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/colores.css">
    <link rel="stylesheet" href="/css/partials.css">

    <%- include("../partials/head") %>
</head>


<body>
    <%- include("../partials/header") %>

        <main>
            <section class="shop-var waos">
                <% for( let i = 0; i < products.length; i++ ) { %>
                    <a href="/products/<%= products[i].id %>">
                    <article>
                        <p><%= products[i].title %></p>
                        <img src="/images/product-img/<%= products[i].image %>" class="product_img">
                        <p><%= products[i].categories.category %></p>
                        <p><%= products[i].off %>% off</p>
                        <div>
                            <i class="fa-regular fa-heart"></i>
                            <i class="fa-solid fa-thumbtack"></i>
                            <i class="fa-solid fa-share"></i>
                        </div>
                        <p><%= products[i].price %>$</p>
                        
                    </article>
                    </a>
                <% } %>
            </section>
        </main>

        <%- include("../partials/footer") %>

</body>

</html>