<!DOCTYPE html>
<html lang="en">

<head>
    <title>ElectroHouse</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/colores.css">
    <link rel="stylesheet" href="/css/partials.css">
    <%- include("../partials/head") %>
    <script src="/js/hiddenButton.js"></script>
</head>


<body>
    <%- include("../partials/header") %>

        <main style="display: flex; align-items: center;" >

            <aside class="aside waos" >
                <section class="container-filter" style="position: relative;">
                    <form action="/products/results/filter_order" method="get" class="form-aside">
                        <h3 style="color: #888;">Filtrar productos</h3>
                        <label for="" style="color: white;">Por categoria
                        <select name="categoryId" id="">
                            <% if (category) { %>
                                <option value="0">Ninguna</option>
                                <% for( let i = 0; i < category.length; i++ ) { %>
                                    <option value="<%= category[i].id %>" <%= locals.old && old.category === category[i].id ? "selected" : "" %> ><%= category[i].category %></option>
                                    
                                <% } %>
        
                            <% } %>
                        </select>   
                        </label>
                            
                        </label>

                        <label for="" style="color: white;">Por precio
                            <ul style="list-style: none; padding: 0px;">
                                <li>
                                    <input type="radio" name="price" value="low">Menor a 100000
                                </li>
                                <li>
                                    <input type="radio" name="price" value="high">Mayor a 100000
                                </li>
                            </ul>
                        </label>


                        <h3 style="color: #888;">Ordenar productos</h3>

                        <label for="" style="color: white;">
                            <input type="radio" name="order" value="ASC">A-Z
                        </label>

                        <label for="" style="color: white;">
                            <input type="radio"name="order" value="DESC">Z-A
                        </label>

                        <button type="submit" style="width: 50%;margin: auto;">Subir cambios</button>
                        <button type="button" class="hiddenButton" style="position: absolute; right: 5px;top: 5px;"> < </button>
                    </form>
                </section>
            </aside>

            <div class="waos hidden">
                <section class="container-filter minus-container-filter">
                    <button type="button" class="hiddenButton  minus-boton" style="position: absolute; right: 5px;top: 5px;"> > </button>
                </section>
            </div>

            <section class="shop-var waos">
                <% for( let i = 0; i < products.length; i++ ) { %>
                    <a href="/products/<%= products[i].id %>">
                        <article>
                            <figure>
                                <div style="align-self: center; font-style: italic;">
                                    <%= products[i].title %>
                                </div>
                                <img src="/images/product-img/<%= products[i].image %>" class="product_img">
                                <h5><%= products[i].price %>$</h5>
                            </figure>
                            <aside>
                                <h5><%= products[i].categoryId %></h5>
                                <h5><%= products[i].off %>% off</h6>
                                <div>
                                    <i class="fa-regular fa-heart"></i>
                                    <i class="fa-solid fa-thumbtack"></i>
                                    <i class="fa-solid fa-share"></i>
                                </div>
                            </aside>
                    
                        </article>
                    </a>
                <% } %>
            </section>
        </main>

        <%- include("../partials/footer") %>

</body>

</html>