<!DOCTYPE html>
<html lang="en">

<head>
    <title>ElectroHouse</title>
    <link rel="stylesheet" href="/css/colores.css">
    <link rel="stylesheet" href="/css/partials.css">
    <link rel="stylesheet" href="/css/create&Edit.css">

    <%- include("../partials/head") %>
</head>


<body>
    <%- include("../partials/header") %>
    <main>

        <h2>Editar Producto</h2>

        <form action="/products" method="POST" enctype="multipart/form-data">
            
            <section>

                <input type="text" name="title" placeholder="Nombre del producto" value="<%=locals.old && old.title ? old.title : product.title %>">
                <% if (locals.errors && errors.title) { %>
                    <p class="err-msg"><i class="fa-solid fa-circle fa-2xs"></i> <%=errors.title.msg%> </p>
                <% } else { %>
                    <p><i class="fa-solid fa-circle fa-2xs"></i></p>
                <% } %>

                <input type="text" name="description" placeholder="Descripción" value="<%=locals.old && old.description ? old.description : product.description%>">
                <% if (locals.errors && errors.description) { %>
                    <p class="err-msg"><i class="fa-solid fa-circle fa-2xs"></i> <%=errors.description.msg%> </p>
                <% } else { %>
                    <p><i class="fa-solid fa-circle fa-2xs"></i></p>
                <% } %>

                <input type="number" name="price" placeholder="Precio" value="<%=locals.old && old.price ? old.price : product.price%>">
                <% if (locals.errors && errors.price) { %>
                    <p class="err-msg"><i class="fa-solid fa-circle fa-2xs"></i> <%=errors.price.msg%> </p>
                <% } else { %>
                    <p><i class="fa-solid fa-circle fa-2xs"></i></p>
                <% } %>
                
                <input type="number" name="off" placeholder="Descuento" value="<%=locals.old && old.off ? old.off : product.off%>">
                <% if (locals.errors && errors.off) { %>
                    <p class="err-msg"><i class="fa-solid fa-circle fa-2xs"></i> <%=errors.off.msg%> </p>
                <% } else { %>
                    <p><i class="fa-solid fa-circle fa-2xs"></i></p>
                <% } %>

               <input type="number" name="stock" placeholder="Cantidad" value="<%=locals.old && old.stock ? old.stock : product.stock%>">
                <% if (locals.errors && errors.stock) { %>
                    <p class="err-msg"><i class="fa-solid fa-circle fa-2xs"></i> <%=errors.stock.msg%> </p>
                <% } else { %>
                    <p><i class="fa-solid fa-circle fa-2xs"></i></p>
                <% } %>

            </section>
            
            <section>

                <input type="text" name="tradeMark" placeholder="Marca del producto" value="<%=locals.old && old.tradeMark ? old.tradeMark : product.tradeMark%>">
                <% if (locals.errors && errors.tradeMark) { %>
                    <p class="err-msg"><i class="fa-solid fa-circle fa-2xs"></i> <%=errors.tradeMark.msg%> </p>
                <% } else { %>
                    <p><i class="fa-solid fa-circle fa-2xs"></i></p>
                <% } %>

                <select name="category">
                    
                    <% if (category) { %>
                     
                        <% for( let i = 0; i < category.length; i++ ) { %>
                        
                            <option value="<%= category[i].id %>" <% if (locals.old && old.category === category[i].id ){ %>
                                selected 
                             <% } else if (product.categoryId === category[i].id ){ %>
                                selected 
                            <% } %>><%= category[i].category %></option>

                        <% } %>

                    <% } %>

                </select>

                <p><i class="fa-solid fa-circle fa-2xs"></i></p>

            </section>

            <section>

                <% 
                    function waosInt(num) {
                        const result = [];
                        for (const index of num ) {
                            result.push(parseInt(index));
                        }
                        return result;
                    }
                %>

                <% if (color) { %>

                    <% for( let i = 0; i < color.length; i++ ) { %>

                        <style>
                            main form section input[type="checkbox"]:nth-of-type(<%= i + 1 %>)::before {
                              background-color: <%= color[i].code %>;
                              box-shadow: 0 0 5px <%= color[i].code %>;
                            }
                        </style>

                        <% if (locals.old) { %>
                            <input type="checkbox" name="color" value="<%= color[i].id %>" <%= waosInt(old.color).includes(i + 1) ? "checked" : "" %>>
                        <% } else if(product.colorId === color[i].id){ %>
                            <input type="checkbox" name="color" value="<%= color[i].id %>" <%= locals.old && old.color ? "checked" : "" %>>
                        <% } %>   
                            

                        <%= colors[i] %>
                        
                    <% } %>

                <% } %>
            </section>

            <section>

                <div>
                    <p>introducir imagen <i class="fa-regular fa-image"></i></p>
                    <input type="file" name="image">
                </div>
                <% if (locals.errors && errors.image) { %>
                    <p class="err-msg"><i class="fa-solid fa-circle fa-2xs"></i> <%=errors.image.msg%> </p>
               <% } %>

               <input type="hidden" name="oldImg" value="<%=locals.old && old.image ? old.image : products.image %>">

            </section>

            <section>

                <div>
                    <p>Restablecer</p>
                    <button type="reset"></button>
                </div>
                
                <input type="submit" value="Crear producto">
                
            </section>

    </main>
    <%- include("../partials/footer") %>
</body>