<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= products.title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <script> src ="https://kit.fontawesome.com/f7ce8fc261.js" </script>

    <link rel="stylesheet" href="/css/partials.css">
    <link rel="stylesheet" href="/css/colores.css">
    <link rel="stylesheet" href="/css/detail.css">
    <%- include("../partials/head") %>
</head>



<body>

    <%- include("../partials/header.ejs")%>

    <main>

        <section>
            <div class="left-side">
                <nav>
                    <a href="/products/cart"><i class="fa-solid fa-cart-plus"></i></a>
                    <a href="/products/<%= products.id %>/edit"><i class="fa-solid fa-pencil"></i></a>
                    <a href="/products/<%= products.id %>"><i class="fa-solid fa-trash-can"></i></a>
                </nav>
                <img src="/<%= products.image %>">
            </div>
            <article>
                <p style="font-style: italic; color: #fff; font-size: 1.3em;"><%= products.title %></p>
                <div style="display: flex; align-items: center;">
                    <p style="color: #666;"><%= products.price %> </p>
                    <p style="font-size: 0.9em; color: #32e169; text-shadow: 0 0 1px #32e169;"><%= products.off %></p>
                </div>
                <p style="font-size: 0.9em;"><%= products.description %></p>
            </article>
        </section>

    </main>

    <%- include("../partials/footer") %>

</body>
</html>