<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= products.title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <script> src ="https://kit.fontawesome.com/f7ce8fc261.js" </script>

    <link rel="stylesheet" href="/css/stylesA.css">
    <link rel="stylesheet" href="/css/stylesCarrito.css">

    <link rel="stylesheet" href="/css/partials.css">
    <link rel="stylesheet" href="/css/colores.css">
    <link rel="stylesheet" href="/css/detail.css">
    <%- include("../partials/head") %>
</head>



<body>

    <%- include("../partials/header.ejs")%>

    <main>

        <section>

            <div class="contenedorIzquierdo">
                <img src="/<%= products.image %>" alt="Imagen del producto" class="imagenDelDetalle">
                <form action="" class="miniContenedor">
                    <button type="submit"><a href="/products/cart">Agregar al carrito</a></button>
                </form>
                <div class="miniContenedor" >
                    <form class="miniContenedor" action="">
                        <button type="submit"><a href="/products/edit">editar</a></button>
                    </form>
                    <form action="/products/<%= products.id %>/?_method=DELETE" class="miniContenedor">
                        <button type="submit">borrar</button>
                    </form>
                </div>
            </div>

            <div class="contenedorDerecho">
                <h4><%= products.title %></h4>
                <p><%= products.price %></p>
                <p><%= products.off %></p>
                <p>Descripcion</p>
                <p>Envio gratis</p>
                <p>Stock Disponible: 4 Unidades</p>
            </div>
        </section>

    </main>

    <%- include("../partials/footer") %>

</body>
</html>