<!DOCTYPE html>
<html lang="en">

<head>
    <title>ElectroHouse</title>
    <link rel="stylesheet" href="/css/detailUser.css">
    <link rel="stylesheet" href="/css/colores.css">
    <link rel="stylesheet" href="/css/partials.css">

    <%- include("../partials/head") %>
</head>

<body>
    <%- include("../partials/header") %>

        <main>
            <section>
                <div>
                    <img src="/images/user-avatar/<%= user.avatar %>">
                    <h5>ID:   #<%= user.id %></h5>
                </div>
                <aside>
                    <h5>Nombre de usuario: <%= user.userName %></h5>
                    <h5>Nombre: <%= user.firstName %></h5>
                    <h5>Apellido: <%= user.lastName %></h5>
                    <h5>Email:   <%= user.email %></h5>
                </aside>
            </section>
        </main>

        <%- include("../partials/footer") %>

</body>

</html>