<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Login</title>

        <link rel="stylesheet" href="/css/sign&log.css">
        <link rel="stylesheet" href="/css/colores.css">
        <link rel="stylesheet" href="/css/partials.css">
        <script src="/js/formLogin.js"></script>
        <%- include("../partials/head.ejs")%>

    </head>


<body>

    <%- include("../partials/header.ejs")%>

    <main>

        <h2>Ingresar</h2>

        <form action="/users/login" method="post">

            <input class="email" type="email" name="email" placeholder="Correo Electrónico" value="<%=locals.old && old.email ? old.email : ""%>">
            <% if (locals.errors && errors.email) { %>
                <p class="email err-msg no"> <%=errors.email.msg%> </p>
            <% } else { %>
                <p class="email no"><i class="fa-solid fa-circle fa-2xs"></i></p>
            <% } %>

            <input class="pass last-imput" type="password" name="password" placeholder="Clave">
            <% if (locals.errors && errors.password) { %>
                <p class="pass err-msg no"> <%=errors.password.msg%> </p>
            <% } else { %>
                <p class="pass no"><i class="fa-solid fa-circle fa-2xs"></i></p>
            <% } %>

            <div style="border: solid 1px #00000000; background: #00000000;">
                <input class="check" type="checkbox" name="remind">
            </div>

            <p class="check no"><i class="fa-solid fa-circle fa-2xs"></i></p>
            
           <div>
                <p>Restablecer</p>
                <button type="reset"></button>
            </div>
        
            <div>
                <p>Enviar</p>
                <button type="submit"></button>
            </div>
            
        </form>
    </main>

</body>
</html>