<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Login</title>

        <link rel="stylesheet" href="/css/sign&log.css">
        <link rel="stylesheet" href="/css/colores.css">
        <link rel="stylesheet" href="/css/partials.css">
        <%- include("../partials/head.ejs")%>

    </head>


<body>

    <%- include("../partials/header.ejs")%>

    <main>
        <form class=" purpleshadowbox" action="/users/login" method="post">
            <h2>Ingresar</h2>

            <input type="email" name="email" placeholder="Correo Electrónico" value="<%=locals.old && old.email ? old.email : ""%>">
            <% if (locals.errors && errors.email) { %>
                <p class="err-msg"> <%=errors.email.msg%> </p>
           <% } %>

            <input class="last-imput" type="password" name="password" placeholder="Clave">
            <% if (locals.errors && errors.password) { %>
                <p class="err-msg"> <%=errors.password.msg%> </p>
           <% } %>
            
            <button type="submit" class="enviar"> Enviar datos</button>
            <button class="cancel" type="reset">X</button>
            <label class="remind-me">
                <input type="checkbox" name="remind"> Recordarme
            </label>
        </form>
    </main>

</body>
</html>