<!DOCTYPE html>
<html lang="en">

<head>
    <title>ElectroHouse</title>
    <link rel="stylesheet" href="/css/detailUser.css">
    <link rel="stylesheet" href="/css/colores.css">
    <link rel="stylesheet" href="/css/partials.css">

    <%- include("../partials/head") %>
</head>

<body>
    <%- include("../partials/header") %>

        <main>
            <article>

                <a href="/users"><i class="fa-solid fa-xmark"></i></a>
                <div>
                    <aside>
                        <a><i class="fa-solid fa-gears"></i></a>
                        <a href="/users/edit/<%= user.id %>"><i class="fa-solid fa-user-pen"></i></a>
                        <a href="/users/logout"><i class="fa-solid fa-right-from-bracket"></i></a>
                    </aside>
                    <figure>
                        <img src="/images/user-avatar/<%= user.avatars.name %>">
                        <h5>ID:   # <%= user.id %></h5>
                    </figure>
                </div>
                <section>
                    <h5><span>Usuario:</span> <%= user.username %></h5>
                    <h5><span>Nombre:</span> <%= user.firstName %></h5>
                    <h5><span>Apellido:</span> <%= user.surname %></h5>
                    <h5><span>Email:</span>   <%= user.email %></h5>
                </section>
            </article>
        </main>

        <%- include("../partials/footer") %>

</body>

</html>