<!DOCTYPE html>
<html lang="es">
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/css/sign&log.css">
    <link rel="stylesheet" href="/css/colores.css">
    <link rel="stylesheet" href="/css/partials.css">
    <%- include("../partials/head") %>
</head>


<body>

    <%- include("../partials/header") %>

<main>



    <form action="/users/create" method="post" enctype="multipart/form-data">
        <h2>Datos</h2>

        <input type="text" name="firstName" id="nameId" placeholder="Primer Nombre" value="<%=locals.old && old.firstName ? old.firstName : ""%>">
       <% if (locals.errors && errors.firstName) { %>
            <p class="err-msg"> <%=errors.firstName.msg%> </p>
       <% } %>

        <input type="text" name="lastName" id="nameId" placeholder="Apellido" value="<%=locals.old && old.lastName ? old.lastName : ""%>">
        <% if (locals.errors && errors.lastName) { %>
            <p class="err-msg"> <%=errors.lastName.msg%> </p>
       <% } %>

        <input type="text" name="userName" id="userId" placeholder="Nombre de Usuario" value="<%=locals.old && old.userName ? old.userName : ""%>">
        <% if (locals.errors && errors.userName) { %>
            <p class="err-msg"> <%=errors.userName.msg%> </p>
       <% } %>

        <input type="email" name="email" id="emailId" placeholder="Correo Electrónico" value="<%=locals.old && old.email ? old.email : ""%>">
        <% if (locals.errors && errors.email) { %>
            <p class="err-msg"> <%=errors.email.msg%> </p>
       <% } %>

        <input type="password" name="password" id="passwordId" placeholder="clave">
        <% if (locals.errors && errors.password) { %>
            <p class="err-msg"> <%=errors.password.msg%> </p>
       <% } %>

        <input class="last-imput" type="file" name="avatar" value="<%=locals.old && old.avatar ? old.avatar : ""%>">

        <button type="submit" class="enviar">Enviar</button>
        <button class="cancel" type="reset">X</button>
        <a href="/users/login">¿Ya tienes cuenta?</a>
    </form>
    
</main>

</body>
</html>