<!DOCTYPE html>
<html lang="es">
<head>
    <title>Edit User</title>
    <link rel="stylesheet" href="/css/sign&log.css">
    <link rel="stylesheet" href="/css/colores.css">
    <link rel="stylesheet" href="/css/partials.css">
    <script src="/js/preview.js"></script>

    <%- include("../partials/head") %>
</head>


<body>

    <%- include("../partials/header") %>

    <main>

        <h2>Editar Datos</h2>

        <form action="/users/edit/<%= id %>" method="post" enctype="multipart/form-data">

            <input type="text" name="firstName" placeholder="Primer Nombre" value="<%=locals.old && old.firstName ? old.firstName : user.firstName%>">
            <% if (locals.errors && errors.firstName) { %>
                <p class="err-msg"><i class="fa-solid fa-circle fa-2xs"></i> <%=errors.firstName.msg%> </p>
            <% } else { %>
                <p><i class="fa-solid fa-circle fa-2xs"></i></p>
            <% } %>

            <input type="text" name="surname" placeholder="Apellido" value="<%=locals.old && old.surname ? old.surname : user.surname%>">
            <% if (locals.errors && errors.surname) { %>
                <p class="err-msg"><i class="fa-solid fa-circle fa-2xs"></i> <%=errors.surname.msg%> </p>
            <% } else { %>
                <p><i class="fa-solid fa-circle fa-2xs"></i></p>
            <% } %>

            <input type="text" name="username" placeholder="Nombre de Usuario" value="<%=locals.old && old.username ? old.username : user.username%>">
            <% if (locals.errors && errors.username) { %>
                <p class="err-msg"><i class="fa-solid fa-circle fa-2xs"></i> <%=errors.username.msg%> </p>
            <% } else { %>
                <p><i class="fa-solid fa-circle fa-2xs"></i></p>
            <% } %>

            <select name="seller">

                <option value="Vendedor" <% if (locals.old && old.seller == "Vendedor"){ %>
                    selected
                <% } else if (user.seller == "Vendedor") { %>
                    selected
                <% } %>>Vendedor</option>

                <option value="Comprador" <% if (locals.old && old.seller == "Comprador"){ %>
                    selected
                <% } else if (user.seller == "Comprador") { %>
                    selected
                <% } %>>Comprador</option>

            </select>

            <p><i class="fa-solid fa-circle fa-2xs"></i></p>

            <div>
                <p>introducir imagen <i class="fa-regular fa-image"></i></p>
                <input type="file" name="avatar" id="file-ip-1" onchange="showPreview(event);">
            </div>
            <% if (locals.errors && errors.avatar) { %>
                <p class="err-msg"><i class="fa-solid fa-circle fa-2xs"></i> <%=errors.avatar.msg%> </p>
           <% } else { %>
            <p><i class="fa-solid fa-circle fa-2xs"></i></p>
            <% } %>

           <input type="hidden" name="oldImg" value="<%=locals.old && old.avatar ? old.avatar : user.avatar %>">

           <div>
                <p>Restablecer</p>
                <button type="reset"></button>
            </div>
            
            <div>
                <p>Enviar</p>
                <button type="submit"></button>
            </div>

        </form>
        
        <div class="preview">
            <img id="file-ip-1-preview" src="/images/user-avatar/<%= product.image %>">
        </div>

    </main>

</body>
</html>